body{
    color: rgb(127, 184, 238);
    background-color: rgb(240, 238, 230);
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px solid black;
    height: 300px;
    width: 350px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: blue;
}